# Copyright (c) 2024 Advanced Micro Devices, Inc.
#
# This file is part of the AMD Render Pipeline Shaders SDK which is
# released under the MIT LICENSE.
#
# See file LICENSE.txt for full license details.

/bin
/lib
/out
/build
/generated_projects
/generated_projects_Arm64
.vs/
*.vcxproj.user
*.vcxproj.filters
*.csproj.user
*.suo
*.VC.db
*.opendb
*.db-shm
*.db-wal
*.rpsb
*.json
/docs/*
!/docs/assets
!/docs/tutorial
!/docs/faq.md
/tests/imported/tmp
